<template>
    <DashboardLayout>
        <h3 class="text-3xl font-medium text-gray-700">Homes</h3>
        <div class="mt-4">
            <div class="flex flex-col mt-3 sm:flex-row">
                <div class="flex">
                    <div class="relative">
                        <select
                            class="block w-full h-full px-4 py-2 pr-8 leading-tight text-gray-700 bg-white border border-gray-400 rounded-l appearance-none focus:outline-none focus:bg-white focus:border-gray-500"
                            v-model="formSearch.trashed"
                        >
                            <option :value="null">Filter Trash</option>
                            <option value="with">With Trashed</option>
                            <option value="only">Only Trashed</option>
                        </select>
                    </div>

                    <div class="relative">
                        <select
                            class="block w-full h-full px-4 py-2 pr-8 leading-tight text-gray-700 bg-white border-t border-b border-r border-gray-400 rounded-r appearance-none sm:rounded-r-none sm:border-r-0 focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500"
                            v-model="formSearch.type_id">
                            <option :value="null">Filter Type</option>
                            <option v-for="(item, index) in types" :value="item.id">{{ item.name }}</option>
                        </select>
                    </div>
                </div>

                <div class="relative block mt-2 sm:mt-0">
                    <Search/>

                    <input
                        placeholder="Search"
                        class="block w-full py-2 pl-8 pr-6 text-sm text-gray-700 placeholder-gray-400 bg-white border border-b border-gray-400 rounded-l rounded-r appearance-none sm:rounded-l-none focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none"
                        v-model="formSearch.search"
                    />
                </div>
                <div class="flex pt-1 sm:mt-0 ml-2" v-if="isFiltered">
                    <button
                        class="px-4 py-1 font-medium tracking-wide text-gray-500 capitalize rounded-md hover:text-gray-400"
                        @click="reset"
                    >
                        Reset
                    </button>
                </div>

                <div class="group relative inline-block pt-1 sm:mt-0 ml-2">
                    <button
                        type="button"
                        :disabled="formRoute.homes.length === 0"
                        @click="showModalRoute = true"
                        class="px-4 py-1 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500">
                        search route
                    </button>
                    <div
                        v-if="formRoute.homes.length === 0"
                        class="border-light text-body-color absolute bottom-full left-1/2 z-20 mb-3 -translate-x-1/2 whitespace-nowrap rounded border bg-white py-[6px] px-4 text-sm opacity-0 group-hover:opacity-100">
                        <span class="border-light absolute -bottom-1 left-1/2 -z-10 h-2 w-2 -translate-x-1/2 rotate-45 rounded-l-sm border-b border-r bg-white"></span>
                        Please pick the home first to search for route
                    </div>
                </div>

                <div class="flex-auto mt-2 sm:mt-0">
                    <button
                        class="float-right px-4 py-1 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500"
                        @click="showModalDialog(null)">
                        + New
                    </button>
                </div>
            </div>

            <div class="mt-6">
                <div class="my-6 overflow-hidden bg-white rounded-md shadow">
                    <table class="w-full text-left border-collapse">
                        <thead class="border-b">
                        <tr>
                            <th class="th">#</th>
                            <th class="th">Name</th>
                            <th class="th">City</th>
                            <th class="th">Type</th>
                            <th class="th text-right">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="list.data.length === 0">
                            <td colspan="99" class="p-2"><em class="text-gray-600">There are no data in this table</em></td>
                        </tr>
                        <tr
                            v-for="(i, index) in list.data"
                            :key="index"
                            class="hover:bg-gray-200">
                            <td class="td text-lg">
                                <input type="checkbox" v-model="formRoute.homes" :value="i">
                            </td>
                            <td class="td text-lg">{{ i.name }}</td>
                            <td class="td text-lg">{{ i.city }}</td>
                            <td class="td text-lg">{{ i.type.name ?? '--' }}</td>
                            <td class="td flex justify-end gap-2 text-right">
                                <button
                                    class="px-4 py-1 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-red-500 rounded-md hover:bg-red-600 focus:outline-none focus:bg-red-600"
                                    @click="showModalDeleteDialog(i)">
                                    delete
                                </button>
                                <button
                                    class="px-4 py-1 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500"
                                    @click="showModalDialog(i)">
                                    edit
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <Pagination :list="list"/>
                </div>
            </div>
        </div>


        <Modal :show="showModal" @close="closeModalDialog">
            <FormDetail
                :types="types"
                :detail="detail"
                :closeModalDialog="closeModalDialog"
            />
        </Modal>

        <Modal :show="showModalDelete" @close="showModalDelete = false">
            <div class="p-6">
                <p v-if="form.name">Are you sure you want to delete this "{{ form.name }}"?</p>
                <form @submit.prevent="destroy" class="mt-6 flex justify-end gap-2">
                    <button class="btn bg-gray-400 hover:bg-gray-500 focus:outline-none focus:bg-gray-500" @click="showModalDelete = false"> Cancel </button>
                    <button type="submit" class="flex items-center btn bg-red-500 hover:bg-red-600 focus:outline-none focus:bg-red-600">
                        <div v-if="form.processing" class="btn-spinner mr-2" />
                        Delete
                    </button>
                </form>
            </div>
        </Modal>

        <Modal :show="showModalRoute" @close="showModalRoute = false">
            <FormRoute
                :detail="formRoute"
                :closeModalDialog="() => { showModalRoute = false }"
            />
        </Modal>


    </DashboardLayout>
</template>

<script>
import DashboardLayout from "@/Layouts/DashboardLayout.vue";
import Modal from "@/Components/Modal.vue";
import FormDetail from "@/Pages/Homes/Components/FormDetail.vue";
import { defineComponent } from "vue";
import {useForm} from "@inertiajs/vue3";
import mapValues from "lodash/mapValues";
import pickBy from "lodash/pickBy";
import throttle from "lodash/throttle"
import FormRoute from "@/Pages/Homes/Components/FormRoute.vue";
import Pagination from "@/Components/Pagination.vue";
import Search from "@/Components/Svg/Search.vue";

export default defineComponent({
    components: {
        Search,
        Pagination,
        FormRoute,
        DashboardLayout,
        Modal,
        FormDetail,
    },
    props: {
        list: Object,
        filters: Object,
        types: Array,
    },
    data() {
        return {
            showModal: false,
            showModalDelete: false,
            showModalRoute: false,
            deleteID: null,
            detail: null,
            form: null,
            formSearch: {
                trashed: this.filters.trashed,
                search: this.filters.search,
                type_id: this.filters.type_id,
            },
            formRoute: {
                homes: []
            }
        }
    },
    methods: {
        showModalDialog(detail = null){
            this.showModal = true;
            this.detail = detail;
        },
        showModalDeleteDialog(detail = null){
            this.showModalDelete = true;
            this.form = useForm(detail);
        },
        closeModalDialog() {
            this.showModal = false;
        },
        destroy() {
            if(this.form.id) {
                this.form.delete(route(`homes.destroy`, this.form.id), {
                    preserveState: (page) => Object.keys(page.props.errors).length,
                })
            }
        },
        reset() {
            this.formSearch = mapValues(this.formSearch, () => null)
        },
    },
    computed: {
        isFiltered() {
            let filters = Object.keys(pickBy(this.filters))
            return filters.length > 0
        }
    },
    watch: {
        formSearch: {
            deep: true,
            handler: throttle(function () {
                useForm({}).get(route(`homes.index`, pickBy(this.formSearch)), { preserveState: true })
            }, 150),
        },
    },
})
</script>
