<template>
    <div class="p-6">
        <form @submit.prevent="submit">
            <div class="grid grid-cols-1 mt-6">
                <GMapAutocomplete
                    class="w-full mt-2 mb-1 py-2 border-gray-200 focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
                    placeholder="Search your location or pick from map to define the origin route"
                    @place_changed="setPlace"
                    type="text"
                />
            </div>

            <GMapMap
                :center="center"
                :zoom="10"
                :click="true"
                @click="handleClick"
                map-type-id="terrain"
                style="width: auto; height: 300px"
            >
                <GMapMarker
                    v-for="(item, index) in form.homes"
                    :key="index"
                    :position="{lat: item.lat, lng: item.long}"
                >
                    <GMapInfoWindow>
                        {{ item.name }}
                    </GMapInfoWindow>
                </GMapMarker>
                <GMapMarker
                    :position="{lat: form.lat, lng: form.long}"
                    :clickable="true"
                    :draggable="true"
                >
                    <GMapInfoWindow>
                        My position
                    </GMapInfoWindow>
                </GMapMarker>

                <GMapPolyline v-if="path.length > 0"
                    :path="path"
                    ref="polyline" />

            </GMapMap>
            <small v-if="form.errors.lat" class="text-red-600">{{ form.errors.lat }}</small>
            <small v-if="form.errors.long" class="text-red-600">{{ form.errors.long }}</small>

            <div class="py-4" v-if="routes.length > 0">
                <p class="text-md font-bold">The best route: <span class="font-light">{{ distance }} km</span></p>
                <div class="flex flex-wrap gap-x-4 gap-y-0">
                    <div class="flex items-center gap-2" v-for="(item, index) in routes">
                        <p class="text-md">{{ index + 1 }}. {{ item.name }}</p>
                        <svg
                            v-if="index !== routes.length - 1"
                            class="w-4 text-gray-700 transform rotate-90 sm:rotate-0" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                            <line fill="none" stroke-miterlimit="10" x1="2" y1="12" x2="22" y2="12"></line>
                            <polyline fill="none" stroke-miterlimit="10" points="15,5 22,12 15,19 "></polyline>
                        </svg>
                    </div>

                </div>
            </div>


            <div class="mt-6 flex justify-end gap-2">
                <button @click="closeModalDialog" class="btn bg-gray-400 hover:bg-gray-500 focus:outline-none focus:bg-gray-500"> Cancel </button>
                <button
                    :disabled="loading"
                    type="submit" class="flex items-center btn-indigo">
                    <div v-if="loading" class="btn-spinner mr-2" />
                    Search
                </button>
            </div>
        </form>
    </div>
</template>

<script>
import { useForm } from "@inertiajs/vue3";
import { defineComponent } from "vue";
import axios from "axios";
const default_center = {
    lat: -6.902637899999999,
    lng: 107.619169,
}
export default defineComponent({
    props: {
        closeModalDialog: Function,
        detail: Object,
    },
    data() {
        return {
            center: default_center,
            form: useForm(this.detail? {
                ...this.detail,
                lat: default_center.lat,
                long: default_center.lng,
            } : {
                homes: [],
                lat: default_center.lat,
                long: default_center.lng,
            }),
            path: [],
            routes: [],
            distance: null,
            loading: false,
        }
    },
    methods: {
        setPlace(event) {
            this.form.lat = this.center.lat  = event?.geometry?.location?.lat()?? center.lat
            this.form.long = this.center.lng = event?.geometry?.location?.lng()?? center.lng
        },
        handleClick(event) {
            if (event.latLng?.lat) {
                this.form.lat = event.latLng.lat();
                this.form.long = event.latLng.lng();
            }
        },
        async submit() {
            try {
                this.loading = true
                let response = await axios.post(route(`routes.store`), this.form);
                if(response?.data?.routes) {
                    this.path = []
                    this.routes = response.data.routes
                    this.distance = response.data.distance
                    response.data.routes.forEach((item) => {
                        this.path.push({lat: item.lat, lng: item.long})
                    })
                }
                this.loading = false
            } catch ($e) {
                console.log($e);
                this.loading = false
            }
        }
    }
})
</script>

