<template>
    <div class="p-6">
        <form @submit.prevent="submit">
            <div>
                <label class="text-gray-700" >Nama</label>
                <input
                    class="w-full mt-2 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
                    type="text"
                    v-model="form.name"
                />
                <small v-if="form.errors.name" class="text-red-600">{{ form.errors.name }}</small>
            </div>
            <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
                <div>
                    <label class="text-gray-700">Type</label>
                    <select class="w-full mt-2 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
                            v-model="form.type_id"
                    >
                        <option :value="null">Please Select Type</option>
                        <option
                            v-for="(item, index) in types"
                            :key="index"
                            :value="item.id"
                        >{{ item.name }}</option>
                    </select>
                    <small v-if="form.errors.type_id" class="text-red-600">{{ form.errors.type_id }}</small>
                </div>
                <div>
                    <label class="text-gray-700" >City</label>
                    <input
                        class="w-full mt-2 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
                        type="text"
                        v-model="form.city"
                    />
                    <small v-if="form.errors.city" class="text-red-600">{{ form.errors.city }}</small>
                </div>
            </div>
            <div class="grid grid-cols-1 gap-6 mt-4">
                <div>
                    <label class="text-gray-700" >Address</label>
                    <textarea
                        class="w-full mt-2 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
                        type="text"
                        v-model="form.address"
                    />
                    <small v-if="form.errors.address" class="text-red-600">{{ form.errors.address }}</small>
                </div>
            </div>

            <div class="grid grid-cols-1 gap-6 mt-6">
                <GMapAutocomplete
                    class="w-full mt-2 mb-1 py-2 border-gray-200 focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
                    placeholder="Search location"
                    @place_changed="setPlace"
                    type="text"
                />
            </div>

            <GMapMap
                :center="center"
                :zoom="14"
                :click="true"
                @click="handleClick"
                map-type-id="terrain"
                style="width: auto; height: 300px"
            >
                <GMapMarker
                    :position="{lat: form.lat, lng: form.long}"
                    :clickable="true"
                    :draggable="true"
                >
                </GMapMarker>

            </GMapMap>
            <small v-if="form.errors.lat" class="text-red-600">{{ form.errors.lat }}</small>
            <small v-if="form.errors.long" class="text-red-600">{{ form.errors.long }}</small>


            <div class="mt-6 flex justify-end gap-2">
                <button @click="closeModalDialog" class="btn bg-gray-400 hover:bg-gray-500 focus:outline-none focus:bg-gray-500"> Cancel </button>
                <button type="submit" class="flex items-center btn-indigo">
                    <div v-if="form.processing" class="btn-spinner mr-2" />
                    Save
                </button>
            </div>
        </form>
    </div>
</template>

<script>
import { find } from "lodash"
import { useForm } from "@inertiajs/vue3";
import { defineComponent } from "vue";
const default_center = {
    lat: -6.902637899999999,
    lng: 107.619169,
}
export default defineComponent({
    props: {
        types: Array,
        closeModalDialog: Function,
        detail: Object,
    },
    data() {
        return {
            center: this.detail? {
                lat: this.detail.lat,
                lng: this.detail.long,
            } : default_center,
            form: useForm(this.detail? this.detail : {
                type_id: null,
                name: '',
                city: '',
                address: '',
                lat: default_center.lat,
                long: default_center.lng,
            })
        }
    },
    methods: {
        setPlace(event) {
            if(event.address_components) {
                let city = find(event.address_components, {'types': ['administrative_area_level_2', 'political']})
                this.form.city = city?.long_name?? null
            }
            this.form.address = event?.formatted_address?? null
            this.form.lat = this.center.lat  = event?.geometry?.location?.lat()?? center.lat
            this.form.long = this.center.lng = event?.geometry?.location?.lng()?? center.lng
        },
        handleClick(event) {
            if (event.latLng?.lat) {
                this.form.lat = event.latLng.lat();
                this.form.long = event.latLng.lng();
            }
        },
        submit() {
            if(this.form.id){
                this.form.put(route(`homes.update`, this.form.id), {
                    preserveState: (page) => Object.keys(page.props.errors).length,
                })
            }else{
                this.form.post(route(`homes.store`), {
                    preserveState: (page) => Object.keys(page.props.errors).length
                })
            }
        }
    }
})
</script>
