@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track{
    background: #2D3748;
}

::-webkit-scrollbar-thumb{
    background: #CBD5E0;
}

::-webkit-scrollbar-thumb:hover{
    background: #718096;
}

.btn {
    @apply px-6 py-3 rounded text-white text-sm leading-4 font-bold whitespace-nowrap;
}

.btn-indigo {
    @apply px-6 py-3 rounded bg-indigo-600 text-white text-sm leading-4 font-bold whitespace-nowrap hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500;
}

.btn-spinner,
.btn-spinner:after {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

.btn-spinner {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.2em solid white;
    border-right: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-left: 0.2em solid transparent;
    transform: translateZ(0);
    animation: spinning 1s infinite linear;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.th {
    @apply px-5 py-3 text-sm font-medium text-gray-100 uppercase bg-indigo-800;
}

.td {
    @apply px-6 py-4 text-gray-700 border-b;
}

tr > td {
    width: 10px;
    white-space: nowrap;
}

tr > td:last-child {
    width: unset !important;
}
