<template>
    <div class="p-5" v-if="list.links.length > 3">
        <p class="text-xs mb-2">Showing {{ (list.to.toLocaleString()) }} out of {{ list.total.toLocaleString() }} Entries</p>
        <div class="flex flex-wrap -mb-1">
            <template v-for="(link, key) in list.links">
                <div v-if="link.url === null" :key="key" class="mb-1 mr-1 px-4 py-2 text-gray-400 text-sm leading-4 border rounded" v-html="link.label" />
                <Link v-else :key="`link-${key}`" class="mb-1 mr-1 px-4 py-2 focus:text-indigo-500 text-sm leading-4 hover:bg-white border focus:border-indigo-500 rounded" :class="{ 'bg-gray-100': link.active }" :href="link.url" v-html="link.label" />
            </template>
        </div>
    </div>
</template>

<script>
import { Link } from '@inertiajs/vue3'
export default {
    components: {
        Link
    },
    props: {
        list: Object
    }
}
</script>

